
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  .navbar a {
    color: #334854;
    text-decoration: none;
    font-weight: bold;
  }
  .navbar li :hover {
  border-bottom: 2px solid #ffff;
  }
  .logo{
    margin-left: 50px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  button {
    margin-right: 50px;
    background-color: #334854;
    color: #ffff;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 80px;
  }
  