
.div-footer {
    display: flex;
    align-items: center; 
    margin-left: 68px;
    width: 100%; 
    position: fixed;    
    bottom: 0%;
    background-color: #EFECEA;
    margin-top: 5%;
    height: 50px;
}

p {
    font-size: 13px;
    color: grey;
    margin: 0;
}

