<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
  </head>
  <body>
    <h2>Join us and share your experiences with us!</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSumbit()">
      <button class="close-btn">x</button>
      <label for="surname">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="example@gmail.com"
      />

      <label for="korisnickoime">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="userName"
        placeholder="Username"
      />

      <label for="lozinka">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <div
        *ngIf="
          reactiveForm.get('password').hasError('invalidPassword') &&
          reactiveForm.get('password').touched
        "
      >
        Password must be between 5 and 10 characters, including letters,
        numbers, and at least one special character.
      </div>
      <button class="signup-btn" type="submit">Sign Up</button>
    </form>
  </body>
</html>
