<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
  </head>
  <body>
    <h2>Join us and share your experiences with us!</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSumbit()">
      <button class="close-btn">x</button>
      <label for="surname">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="example@gmail.com"
      />

      <label for="korisnickoime">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="userName"
        placeholder="Username"
      />

      <label for="lozinka">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <div
        *ngIf="
          reactiveForm.get('password').hasError('invalidPassword') &&
          reactiveForm.get('password').touched
        "
      >
        Password must be between 5 and 10 characters, including letters,
        numbers, and at least one special character.
      </div>
      <button class="signup-btn" type="submit">Sign Up</button>
    </form>
  </body>
</html> -->

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input type="text" placeholder="Username" />
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input [type]="type" placeholder="Password" />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <div class="form-inline fr mt-4">
                <a id="forget" class="font-weight-bold">Forget Password?</a>
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Login
              </button>
              <div class="text-center pt-4 text-muted">
                Don't have account?
                <a id="forget" routerLink="/Login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
