<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
  </head>
  <body>
    <h2>Join us and share your experiences with us!</h2>
    <form>
      <button class="close-btn">x</button>
      <label for="surname">Email:</label>
      <input type="text" id="email" name="email" required />

      <label for="password">Username:</label>
      <input type="username" id="username" name="username" required />

      <label for="email">Password:</label>
      <input type="password" id="password" name="password" required />

      <button class="signup-btn" type="submit">Sign Up</button>
    </form>
  </body>
</html>

<!-- 
za button : onclick="closeForm()" -->
