<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Our Platform</h1>
      <p>
        Join our community of fearless enthusiasts who share their thoughts,
        impressions, and reviews! We are a passionate team of hotel, movie,
        book, and restaurant !
      </p>
    </div>
    <div class="mainDiv">
      <div class="section whoWeAre">
        <h2>Who We Are?</h2>
        <p>
          Our team consists of experts from various fields, united by one common
          passion - a love for sharing honest reviews. We are enthusiastic
          writers, creative artists, tech gurus, and film fanatics. Together, we
          work to provide you with a unique experience in sharing and
          discovering new things.
        </p>
      </div>

      <div class="section whatWeDo">
        <h2>What We Do?</h2>
        <p>
          Our platform allows you to express your thoughts, recommendations, and
          critiques about products, movies, books, and much more. We offer a
          space where you can find relevant reviews from real people and share
          your personal experience with the world. We believe that every review
          has the power to shape decisions and inspire others.
        </p>
      </div>

      <div class="section whyWeAreHere">
        <h2>Why We Are Here?</h2>

        <p>
          We believe that everyone has a story worth telling, and we want to be
          the bridge connecting those stories with the broader community.
          Whether you're a passionate technology enthusiast, a film critic, or a
          literature lover, this is the place where your words matter.
        </p>
      </div>

      <div class="section howToJoin">
        <h2>How to Join?</h2>

        <p>
          Join us in this adventure of sharing and discovering. Register today,
          write reviews, rate your favorite products, and share your passions
          with the world. Let's make sure every opinion is heard together!
        </p>
      </div>
    </div>
    <p class="bottom">Thank you for being part of our community!</p>
  </body>
</html>
