
  .navbar-new a {
    color: #334854;
    text-decoration: none;
   
  }
  .navbar-new li :hover {
    border-bottom: 2px solid #ffff;
  }
  .navbar-new li{
    display: inline-block;
    margin-right: 30px;
  }
  .navbar-new{
    text-align: center;
    margin-top: 80px;
  }

